<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">
    <div class="container-fluid text-center" style="margin-bottom: 25px; width: 100%">
        <div class="container">
            <div>
                <h1>관리자 페이지</h1>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th scope="col" style="width: 25%">Email</th>
                            <th scope="col" style="width: 25%">Role</th>
                            <th scope="col" style="width: 25%">Name</th>
                            <th scope="col" style="width: 25%">Registered Date</th>
                        </tr>
                        </thead>
                        <tbody style="margin-top:10px;">
                        <tr th:each="users : ${users}" style="border-bottom : 1px solid black; ">
                            <td><span th:text="${users.email}">email</span></td>
                            <td><span th:switch="${users.roles.size()}">
                                <span th:case="1">유저</span>
                                <span th:case="2">관리자</span>
                            </span></td>
                            <td><span th:text="${users.name}">name</span></td>
                            <td><span th:text="${#dates.format(users.regdate, 'yyyy/MM/dd')}">regdate</span></td>
                            <td><button class="btn btn-dark" style="width: 100px;">권한조정</button></td>
                            <td><button class="btn btn-dark" style="width: 100px;">회원정지</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</html>