<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">

    <div class="container">
        <h2>공지사항</h2>
        <table class="table">
            <thead>
            <tr>
                <th class="text-center" style="width: 15%" >No</th>
                <th class="text-center" style="width: 35%" >Img</th>
                <th class="text-center" style="width: 50%" >제목</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="bookmarks : ${bookmarks}">
                <td class="text-center"><span th:text="${bookmarks.id}">id</span></td>
                <img class="card-img-top" th:src="${bookmarks.thumbnailImage}" alt="Card image cap">
                <td><a th:text="${bookmarks.bookTitle}" th:href="@{'/bookmark/' + ${bookmarks.bookTitle}}">bookTitle</a></td>
                <td><a th:href="@{'/bookmark/delete/' + ${bookmarks.id}}"><button class="btn danger" style="width: 70px; height: 40px;">삭제</button></a></td>
            </tr>

            </tbody>
        </table>
    </div>


</div>
</body>
</html>