<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>

    <script>
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(function () {
            $(document).ajaxSend(function(e, xhr, options) {
                xhr.setRequestHeader(header, token);
            });
            $("#deleteButton").click(function () {
                var confirm_val = confirm("정말 삭제하시겠습니까?");
                if(confirm_val) {
                    var checkedAny = false;
                    $("input[name=check]:checked").each(function () {
                        checkedAny = true;
                        var check = $(this).val();
                        $.ajax({
                            url: '/api/bookmark/' + check,
                            method: 'delete',
                            success: function (data) {
                                document.getElementById(check).remove();
                                if (data == 0) {
                                }
                            }
                        });
                    });
                    if (!checkedAny) {
                        alert("북마크를 선택 해주세오");
                    }
                }
            });
            $("#checkAll").click(function(){
                if($("#checkAll").prop("checked")){
                    $("input[name=check]").prop("checked", true);
                }else{
                    $("input[name=check]").prop("checked", false);
                }
            });

        });
    </script>

    <script>
        function deleteicon(deleteiconid) {
            var confirm_val = confirm("정말 삭제하시겠습니까?");
            if(confirm_val) {
                $.ajax({
                    url: '/api/bookmarks/' + deleteiconid,
                    method: 'delete',
                    success: function (data) {
                        document.getElementById(deleteiconid).remove();
                        if (data == 0) {
                        }
                    }
                });
                // });
            }
        };
    </script>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.js"></script>

    <div class="container" style="width: 70%;">
        <h2 style = "text-align: center" th:text="${username.name} + ' 님의 북마크'"></h2><br>

        <form method="post" id="bookmarkForm"  action="#" >

            <table class="table" >
                <thead>
                <tr>
                    <th class="text-center" style="width: 10%" ><input type="checkbox" id="checkAll"/><br/></th>
                    <th class="text-center" style="width: 30%" >이미지</th>
                    <th class="text-center" style="width: 55%; padding-right: 15%" >제목</th>
                    <th class="text-center" style="width: 15%" >  </th>
                </tr>
                </thead>
                <tbody>

                <tr th:if="${#lists.isEmpty(bookmarks)}">
                    <td colspan="4" style="text-align: center;">북마크가 비어있습니다.</td>
                </tr>

                <tr th:if="${not #lists.isEmpty(bookmarks)}" th:attrappend="id=${bookmarks.id}" th:each="bookmarks : ${bookmarks}">
                    <td style="text-align: center; vertical-align: middle"><input type='checkbox' name="check" id="check" th:value="${bookmarks.id}" /></td>
                    <td style="text-align: center;vertical-align: middle" ><img th:src="${bookmarks.thumbnailImage}" style = "width :150px; "></td>
                    <td style ="vertical-align: middle;text-align: center;padding-right: 15%"><a style="color:black; font-size: large"  th:text="${bookmarks.bookTitle}" th:href="@{'/api/challenges/addform/' + ${bookmarks.book.isbn}}">bookTitle</a></td>
                    <!--<td style="vertical-align: middle"><a th:href="@{'/api/bookmark/delete/' + ${bookmarks.id}}"><span class ="css-xicon" id="deleteicon" name="deleteicon" ></span></a></td>-->
                    <td style="vertical-align: middle"><a href="javascript:void[0];" th:onclick= "'javascript:deleteicon('+${bookmarks.id}+')'" ><span class ="css-xicon" name="deleteicon" id="deleteiconid" th:value="${bookmarks.id}" ></span></a></td>
                    <!--<td style="vertical-align: middle"><button type="button" class ="css-xicon" name="deleteicon" id="deleteiconid" th:value="${bookmarks.id}" ></button></td>-->
                    <!--<td style="vertical-align: middle"><button class ="css-xicon" onclick="deleteicon" id = "id" th:value="${bookmarks.id}"  ></button></td>-->
                    <!--<td style ="vertical-align: middle;text-align: center;"><button  type="button" class ="css-xicon"  id="deleteicon" name="deleteicon" th:data="${bookmarks.id}"></button></td>-->
                </tr>
                </tbody>
            </table>
            <div class="form-row" style ="float:right">
                <div class="col">
                    <button  type="button" class="btn btn-primary" id="deleteButton" name="deleteButton">선택 삭제</button>

                </div>


            </div>
        </form>
    </div>

</div>

<script>
</script>
</body>
</html>