<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<footer th:fragment="footerFragment">
<footer class="jumbotron page-footer font-small blue pt-4" style="height: 150px">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3" style="font-size: 12px;">
                <h5 class="text-uppercase">12 Books</h5>
                <p>주식회사 12 Books | 서울특별시 강남구 언주로 174길 30 로빈명품관 지하1층 | 사업자등록번호 : 111-11-11111</p>
                <p>통신판매업 : 2012-서울강남-01897 | 대표: 서청원</p>
                <p>개인정보관리책임자 : 민경수(help@12books.com)</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
        </div>
    </div>
</footer>
</footer>
</html>