<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="headerFragment">
    <nav class="navbar navbar-expand-sm bg-white navbar-light" style="margin-top: 25px; padding-bottom: 35px;">
        <div id="mySidenav" class="sidenav" sec:authorize="hasAuthority('ROLE_USER')">
            <img th:src="@{/images/userprofile/profile-default.png}" height="200" width="200"/>
            <span style="color: whitesmoke" th:text="${#authentication.getName()}"></span>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a th:href="@{/users/mypage}">My Page</a>
            <a th:href="@{/users/passwdchange}">Password Change</a>
            <a th:href="@{/challenges/library}">Library</a>
            <!--<a th:href="@{'/bookmark/list' + ${}}">Bookmark</a>-->
            <a th:href="@{/notices/list}">Notice</a>
            <div sec:authorize="hasAuthority('ROLE_ADMIN')">
                <a th:href="@{/admin/}">Admin</a>
            </div>
            <a th:href="@{/logout}">logout</a>
        </div>
        <div sec:authorize="hasAuthority('ROLE_USER')">
            <button class="btn-menu" onclick="openNav()">
                <i class="fa fa-bars" style="margin-left: 0px;font-size:30px;"></i>
            </button>
        </div>

        <a class="navbar-brand" style="margin-left: 5px" th:href="@{/}">12 BOOKS</a>

        <div class="collapse navbar-collapse" id="collapsibleNavbar"></div>
        <i class="fa fa-search" style="margin-right: 15px"></i>

        <div style="margin-right: 25px; max-width: 150px">
            <input type="text" class="form-control" placeholder="책 검색">
        </div>

        <div sec:authorize="isAnonymous()" style="margin-right: 25px;">
            <a class="btn btn-dark" th:href="@{/users/login}"> 시작하기</a>
        </div>

        <div sec:authorize="hasAuthority('ROLE_USER')" style="margin-right: 25px;">
            <a type="button" class="btn btn-dark " th:href="@{/challenges/addform}">책 읽기</a>
        </div>
    </nav>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>
</header>
</html>