<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">

    <div class="container" style="width: 80%";>
        <div>
            <h1 style="border-bottom: 2px solid beige;"><span th:text="${notice.title}">title</span></h1><br>
            <div style='float:right; text-align: right; padding-right: 3%;'>
                             등록일  :    <span th:text="${notice.regdate}">regdate</span>
            </div><br><br><br>

                        <!--이미지 추가해야 함-->
        </div>
        <H4 style = "padding-left: 3%">내용</H4>
        <div class = "container">
                    <span th:text="${notice.content}">content</span><br><br>
        </div>
        <div style=" float:right;">
        <button  type="cancle"  class="btn btn-dark" onclick="location.href='/notices/list'">목록</button>
        <div style=" float:left; padding-right: 4px" sec:authorize="hasAuthority('ROLE_ADMIN')" >
            <a th:href="@{'/notices/modify/' + ${notice.id}}"><button type="button" class="btn btn-success" >수정</button></a>
            <a th:href="@{'/notices/delete/' + ${notice.id}}"><button type="button" class="btn btn-success" >삭제</button></a>
        </div>
        </div>

    </div>
</div>
</body>
</html>