

<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">

    <div class="container" style="width: 80%;">
        <h2 style="text-align: center">공지사항</h2>
        <table class="table" style="margin-top: 2%">
            <thead>
            <tr>
                <th class="text-center" style="width: 15%" >No</th>
                <th class="text-center" style="width: 65%" >제목</th>
                <th class="text-center" style="width: 20%" >등록일</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="notices : ${noticepage}">
                <td class="text-center"><span th:text="${notices.id}">id</span></td>
                    <td style ="padding-left: 10%"><a style="color:black" th:text="${notices.title}" th:href="@{'/notices/' + ${notices.id}}"><span th:text="${notices.title}" > title</span></a></td>
                <td class="text-center"><span th:text="${notices.regdate}">regdate</span></td>
            </tr>

            </tbody>
        </table>

        <div sec:authorize="hasAuthority('ROLE_ADMIN')">
            <button type="button" class="btn btn-success" style ="float:right" onclick="location.href='/notices/write'">글쓰기</button>
        </div>

        <!-- 게시판 하단의 페이징 버튼 -->

        <ul class="pagination justify-content-center" th:with="start=${T(Math).floor(noticepage.number/10)*10 +1},
                    last=(${start + 9 < noticepage.totalPages ? start + 9 : noticepage.totalPages})">

            <li class="page-item" th:class="${noticepage.first} ? 'disabled'"  ><a class="page-link" th:href="${noticepage.first} ? '#' : @{/notices/list(page=${noticepage.number -1})}">이전</a></li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == noticepage.number +1} ? 'active'"><a class="page-link" th:text="${page}" th:href="@{/notices/list(page=${page -1})}"></a></li>

            <li class="page-item" th:class="${noticepage.last} ? 'disabled'"><a class="page-link" th:href="${noticepage.last} ? '#' : @{/notices/list(page=${noticepage.number + 1})}">다음</a></li>
        </ul>

    </div>




</div>

</body>
</html>