<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">



<div layout:fragment="content">

<div class="container-fluid text-center " style="margin-bottom: 30%; width: 100%">
    <!--<img src="../static/images/photo-1490633874781-1c63cc424610.jpg" height="900" width="1350" style="margin-top: 25px; margin-bottom: 25px"/>-->
    <div class="text">
        <img th:src="@{/images/userprofile/profile-default.png}" height="200" width="200"/>
    </div>
    <div class="container text">
        <div class="row mgTp">
            <form class="col-md-6 offset-md-3" method="post">
                <form method="post" th:action="@{/users/modify}"  action="#">
                    <h3 class="title">정보 수정</h3>
                    <hr class="divisor">
                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                        <input type="text" class="form-control" name="name" placeholder="이름" title="이름">
                    </div>
                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                        <input type="text" class="form-control" name="comment" placeholder="하고싶은 한마디" title="하고싶은 한마디">
                    </div>

                    <button type="submit" class="btn btn-dark topBtn"> 수정 완료</button>
                </form>
            </form>
        </div>
    </div>
</div>

</div>
</html>