<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout::default}">



<div layout:fragment="content">
<div class="container-fluid text-center" style="margin-bottom: 30%; width: 100%">
    <div class="text">
        <img th:src="@{/images/userprofile/profile-default.png}" height="200" width="200"/>
    </div>
    <div class="text"> <span style="color: black; size: 25px;" th:text="${name}"></span></div>
    <div class="text"> <span style="color: black; size: 25px;" th:text="${email}"></span></div>
    <div class="text"> <span style="color: black; size: 25px;" th:text="${comment}"></span></div>
    <div class="text" style="margin-right: 25px;">
        <a class="btn btn-dark" th:href="@{/users/modify}"> 정보 수정</a>
    </div>
</div>


</div>
</html>