<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">


<div layout:fragment="content">
<div class="container-fluid text-center" style="margin-bottom: 25px; width: 100%">
    <!--<img src="../static/images/photo-1490633874781-1c63cc424610.jpg" height="900" width="1350" style="margin-top: 25px; margin-bottom: 25px"/>-->
    <div class="text">
        <img th:src="@{/images/userprofile/profile-default.png}" height="200" width="200"/>
    </div>
    <div class="container text">
        <div class="row mgTp">
            <form class="col-md-6 offset-md-3" method="post">
                <form method="post" th:action="@{/users/passwdchange}" th:object="${passwdDto}" action="#">
                    <h3 class="title">비밀번호 변경</h3>
                    <hr class="divisor">
                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                        <input type="password" class="form-control" name="oldpasswd" id="oldpasswd" placeholder="현재 비밀번호" title="현재 비밀번호">
                        <div class="errDiv" th:if="${#fields.hasErrors('oldpasswd')}" th:errors="*{oldpasswd}"></div>
                    </div>
                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                        <input type="password" class="form-control" name="newpasswd" id="newpasswd" placeholder="새로운 비밀번호" title="새로운 비밀번호">
                    </div>
                    <input type="hidden">

                    <div class="form-group" style="margin-top: 20px; margin-bottom: 20px;">
                        <input type="password" class="form-control" name="newpasswd2" id="newpasswd2" placeholder="새로운 비밀번호 확인" title="새로운 비밀번호 확인" onkeyup="checkPass(); return false;">
                        <span id="confirmMessage" class="confirmMessage"></span>
                    </div>

                    <button type="submit" class="btn btn-dark topBtn">변경하기</button>
                </form>
            </form>
        </div>
    </div>
</div>


<script>
    function checkPass()
    {
        //Store the password field objects into variables ...
        var pass1 = document.getElementById('newpasswd');
        var pass2 = document.getElementById('newpasswd2');
        //Store the Confimation Message Object ...
        var message = document.getElementById('confirmMessage');
        //Set the colors we will be using ...
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        //Compare the values in the password field
        //and the confirmation field
        if(pass1.value == pass2.value){
            //The passwords match.
            //Set the color to the good color and inform
            //the user that they have entered the correct password
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = "Passwords Match!"
        }else{
            //The passwords do not match.
            //Set the color to the bad color and
            //notify the user.
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "Passwords Do Not Match!"
        }
    }
</script>
</div>
</html>