<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<th:block layout:fragment="css"/>
</th:block>
<th:block layout:fragment="script"/>
</th:script>

<div layout:fragment="content">
    <div class="container-fluid text-left" style="margin-bottom: 25px; width: 100%">
        <div class="container">
            <img style="width: 250px; margin-bottom: 55px;" th:src="${challenge.thumbnailImage}"/>
            <span style="padding-left: 10%; font-size: 35px;" th:text="${challenge.booksTitle}";></span>
            <span style="padding-left: 2%; font-size: 35px;" th:text="${challenge.bookStatus}";></span>
            <div th:each="diary : ${diary}">
                <h4><b>Day: <span th:text="${diary.days}"></span></b></h4>
                <div>
                    <textarea disabled class="form-control" th:id="${diary.id}" th:value="${diary.id}" style="height: 125px; width: 65%; ">[[${diary.content}]]</textarea>
                    <button class="btn btn-dark" th:onclick="'javascript:modifiable(' + ${diary.id} + ');'">수정</button>
                    <button class="btn btn-dark" th:onclick="'javascript:deleteReview(' + ${diary.id} + ');'">삭제</button>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function modifiable(id) {
            document.getElementById(id).disabled = false;
        }

        function deleteReview(id) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            $.ajax({
                type: 'delete',
                url: '/api/diaries/'+ id,
                async: true,
                contentType: "application/json",
                error: function (err) {
                    console.log(err.toString());
                    alert("서버가 응답하지 않습니다.");
                    return false;
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    console.log(data);
                    document.getElementById(id).remove();
                }
            })
        }
        /*]]>*/
    </script>
</div>
</html>