<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>12 Books</title>

    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico"/>
    <!-- Bootstrap -->
    <!--<link rel="stylesheet" th:href="../../static/css/bootstrap.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <!--<link rel="stylesheet" th:href="../../static/css/bootstrap-grid.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-grid.css}">
    <!--<link rel="stylesheet" th:href="../../static/css/bootstrap-reboot.css">-->
    <link rel="stylesheet" th:href="@{/css/bootstrap-reboot.css}">

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.8.18/jquery-ui.min.js"></script>

    <script th:src="@{/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

    <script>
        $(function() {
            $("#datepicker1, #datepicker2").datepicker({
                dateFormat: 'yy.mm.dd'
            });
        });

    </script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
</head>
<style>
    .booksearch {
        width: 75%;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
        text-align: center;
        margin-bottom: 5%;
    }

    .chllengeAddForm{
        width : 20%;
    }

    .chaddform{
        text-align: center;
    }

</style>

<body>


<nav class="navbar navbar-expand-sm bg-white navbar-light" style="margin-top: 25px; padding-bottom: 35px;">
    <i class="fa fa-bars"  style="margin-left: 25px;font-size:30px;"></i>

    <a class="navbar-brand" style="margin-left: 5px" th:href="@{/}">12 BOOKS</a>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">

    </div>
    <div style="margin-right: 25px; max-width: 150px">
        <input type="text" class="form-control" placeholder="Search">
    </div>
    <div style="margin-right: 25px;">
        <button type="button" class="btn btn-dark">시작하기</button>
    </div>

</nav>


<div class="container-fluid text-center"  style="width: 75%;">
    <div class="col">
        <input type="text" name="search" placeholder="읽을 책을 검색하세요" class="booksearch">
        <button type="button" class="btn btn-dark">검색</button>
    </div>
    <div class="col">
        <!--<form action="/challenges/addform"  enctype="multipart/form-data" method="POST">-->
        <div class="row">
            <div class="col" style="text-align: center">
                <img  src="http://placehold.it/200x200" class="img-thumbnail">
            </div>
            <div class="col">
                <div class="row">
                    <div class="col" style="text-align:center; padding-top: 10%;">
                        <div style="padding-bottom: 10px">제목</div>
                        <div style="padding-bottom: 10px">작가</div>
                        <div style="padding-bottom: 10px">출판사</div>
                    </div>
                    <div class="col" style="text-align:left; padding-top: 10%;">
                        <div style="padding-bottom: 10px">이것이 자바다</div>
                        <div style="padding-bottom: 10px">작가</div>
                        <div style="padding-bottom: 10px">출판사</div>
                    </div>
                </div>
            </div>
        </div>

            <div class = "row" style="padding-top: 5%;">
                <div class="col">도전 날짜</div>
                <div class="col" >
                    <div class="row" style="padding-left : 15%;">
                        <input type="text" class="form-control" id="datepicker1" style="width:30%;">
                        <i class="fas fa-arrow-right"style="padding: 10px;"></i>
                        <input type="text" class="form-control" id="datepicker2" style="width:30%;">
                    </div>
                </div>
            </div>

            <div class = "row" style="padding-top: 5%;">
                <div class="col">도전 일수</div>
                <div class="col" >
                    <input type="text" style="padding-left : 10%; width:15%;">일
                </div>
            </div>

            <div class="row" style="padding-top: 5%;">
                <div class="col">공개여부</div>
                <div class="col">
                    <select name="visibility" class="custom-select mb-3" style="width : 30%; padding-left : 10%;">
                        <option selected value="private">비공개</option>
                        <option value="public">공개</option>
                    </select>
                </div>
            </div>
            <div class="col" style="padding-top: 10%; padding-left: 70%;" >
            <input type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />

            <input type="submit" value="도전 시작" class="btn btn-dark">
            </div>
    </div>

</div>
<!--<div class="class=jumbotron text-center bgbook" style="margin-bottom: 25px; width: 100%">-->
<!--&lt;!&ndash;<img src="../static/images/photo-1490633874781-1c63cc424610.jpg" height="900" width="1350" style="margin-top: 25px; margin-bottom: 25px"/>&ndash;&gt;-->
<!--<div class="text">-->
<!--<div>-->
<!--<h1>1 Month, 1 Book</h1>-->
<!--<h3>한달에 한권씩 12권의 책을 읽어 나가기</h3>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="jumbotron text-center" style="margin-bottom:0">-->
<!--<div class="footer-copyright text-center py-3">© 2019 Copyright:-->
<!--<a href="https://mdbootstrap.com/education/bootstrap/"> 12books.com</a>-->
<!--</div>-->
<!--</div>-->
<footer class="jumbotron page-footer font-small blue pt-4" style="height: 150px">
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3" style="font-size: 12px;">
                <!-- Content -->
                <h5 class="text-uppercase">12 Books</h5>
                <p>주식회사 12 Books | 서울특별시 강남구 언주로 174길 30 로빈명품관 지하1층 | 사업자등록번호 : 111-11-11111</p>
                <p>통신판매업 : 2012-서울강남-01897 | 대표: 서청원</p>
                <p>개인정보관리책임자 : 민경수(help@12books.com)</p>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none pb-3">
            <!-- Grid column -->
            <!--<div class="col-md-3 mb-md-0 mb-3">-->
            <!--&lt;!&ndash; Links &ndash;&gt;-->
            <!--<h5 class="text-uppercase">Links</h5>-->
            <!--<ul class="list-unstyled">-->
            <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!-- Grid column -->
            <!-- Grid column -->
            <!--<div class="col-md-3 mb-md-0 mb-3">-->
            <!--&lt;!&ndash; Links &ndash;&gt;-->
            <!--<h5 class="text-uppercase">Links</h5>-->
            <!--<ul class="list-unstyled">-->
            <!--<li>-->
            <!--<a href="#!">Link 1</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#!">Link 2</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="#!">Link 3</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->
    <!--&lt;!&ndash; Copyright &ndash;&gt;-->
    <!--<div class="footer-copyright text-center py-3">© 2018 Copyright:-->
    <!--<a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>-->
    <!--</div>-->
    <!--&lt;!&ndash; Copyright &ndash;&gt;-->
</footer>
</body>
</html>