<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
<div class="container-fluid text-center"  style="width: 75%; margin-bottom:5%;">

    <!-- The Modal -->
    <div class="modal fade" id="myModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h3 class="modal-title" >검색 결과</h3>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body ">
                    <div id="books">
                        <ul class="list-group">
                        </ul>
                        <div id="resultMessage">검색된 책이 없어요. 다시 검색하세요.</div>
                        <div id="results"></div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>


    <form id="search_form" name = "search">
        <div class="col">
            <input type="text" name="searchWord" placeholder="읽을 책을 검색하세요" class="booksearch" id="searchWord">
            <input type="hidden" name="page" id="page">
            <button type="button" class="btn btn-dark" onclick="bookSearch()">검색</button>
        </div>
    </form>

    <form action="">
        <div class="col ">
        <!--<form action="/challenges/addform"  enctype="multipart/form-data" method="POST">-->
        <div class="bookinfo row d-none" id ="bookinfos">
            <!--<div class="bookinfo fade"></div>-->
            <div class="col" style="text-align: center">
                <img  src="http://placehold.it/200x200" class="img-thumbnail" id="ithumbnail" name="thumbnail">
            </div>
            <div class="col">
                <div class="row">

                    <div class="col" style="text-align:left; ">
                        <div style="padding-bottom: 10px"><p style="border-bottom : 1px solid black; display : inline-block; font-weight:bold;">제목</p><p id="booktitle" th:name="booktitle"></p></div>
                        <div style="padding-bottom: 10px" ><p style="border-bottom : 1px solid black; display : inline-block; font-weight:bold;">작가</p><p id="authors" th:name="authors"></p></div>
                        <div style="padding-bottom: 10px" ><p style="border-bottom : 1px solid black; display : inline-block; font-weight:bold;">출판사</p><p id="publisher" th:name="publisher"></p></div>
                    </div>
                </div>
            </div>
        </div>

            <div class = "row" style="padding-top: 5%;">
                <div class="col">도전 날짜</div>
                <div class="col" >
                    <div class="row" style="padding-left : 15%;">
                        <input type="text" class="form-control" id="datepicker1" style="width:30%;" onchange="caldates()" th:name="startdate">
                        <i class="fas fa-arrow-right"style="padding: 10px;"></i>
                        <input type="text" class="form-control" id="datepicker2" style="width:30%;" onchange="caldates()"th:name="enddate">
                    </div>
                </div>
            </div>

            <div class = "row" style="padding-top: 5%;">
                <div class="col">도전 일수</div>
                <div class="col" >
                    <input type="text" id="days" size="6" style="text-align:center;" th:name="days">일
                </div>
            </div>

            <div class="row" style="padding-top: 5%;">
                <div class="col">공개여부</div>
                <div class="col">
                    <select name="visibility" class="custom-select mb-3" style="width : 30%; padding-left : 10%;" th:name="visibility">
                        <option selected value="private">비공개</option>
                        <option value="public">공개</option>
                    </select>
                </div>
            </div>
            <div class="col" style="padding-top: 5%; padding-left: 70%;" >
            <input type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />
            <input type="submit" value="도전 시작" class="btn btn-dark">
            </div>
    </div>
    </form>
</div>
    <script>
        var picker = new Pikaday({
            field: document.getElementById('datepicker1'),
            format: 'yy/mm/dd',
            toString(date, format) {
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${year}/${month}/${day}`;
            },
            parse(dateString, format) {
                const parts = dateString.split('/');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });

        var picker = new Pikaday({
            field: document.getElementById('datepicker2'),
            format: 'yy/mm/dd',
            toString(date, format) {
                // you should do formatting based on the passed format,
                // but we will just return 'D/M/YYYY' for simplicity
                const day = date.getDate();
                const month = date.getMonth() + 1;
                const year = date.getFullYear();
                return `${year}/${month}/${day}`;
            },
            parse(dateString, format) {
                // dateString is the result of `toString` method
                const parts = dateString.split('/');
                const day = parseInt(parts[0], 10);
                const month = parseInt(parts[1], 10) - 1;
                const year = parseInt(parts[2], 10);
                return new Date(year, month, day);
            }
        });
    </script>

    <script>
        function caldates(){
            var sdd = document.getElementById("datepicker1").value;
            var edd = document.getElementById("datepicker2").value;
            var arr1 = sdd.split('/');
            var arr2 = edd.split('/');
            var da1 = new Date(arr1[0], arr1[1] -1, arr1[2]);
            console.log("da1 : "+da1);
            var da2 = new Date(arr2[0], arr2[1] -1, arr2[2]);
            console.log("da2 : "+da2);
            var diff = da2 - da1;
            console.log("diff : "+ diff);
            var cDay = 24 * 60 * 60 * 1000;// 시 * 분 * 초 * 밀리세컨
            console.log("cDay : "+ cDay);
            console.log("kkk : "+ diff/cDay)
            if(sdd && edd){
                document.getElementById('days').value = parseInt((diff/cDay))+1;
            }
        }
    </script>

    <script>
        function bookSearch(page){
            var pg = page ? page : 1;
            var form = document.getElementById("search_form");
            form.page.value = pg;
            if (form.searchWord.value == "") {
                alert("검색어를 입력하세요");
            }else{
                $('#myModal').modal('show');
                $.ajax({
                    url : "/api/searchBooks",
                    data : $(form).serialize(),
                    beforeSend : function(){
                        $(form).find("button[type=button]").text("Searching for ...");
                    },
                    success :function(res){
                        if(res.meta.total_count < 1) {
                            $("#books > ul").html("");
                            $("#books > #resultMessage").show();
                        }else{
                            $("#books > #resultMessage").hide();
                            console.log(res);
                            var html = "";
                            $(res.documents)
                                .each(
                                    function(idx) {
                                        var authors = "", trans = "", thumbnail = "", isbn = "";
                                        $(this.authors)
                                            .each(
                                                function() {
                                                    authors += (this + " ")
                                                });
                                        $(this.translators)
                                            .each(
                                                function() {
                                                    trans += (this + " ")
                                                });
                                        if (this.thumbnail) {
                                            thumbnail = "<img src='"+this.thumbnail+"' width='80'>";
                                        }
                                        var arr_isbn = this.isbn.split(" ");
                                        if(arr_isbn.length>1){
                                            isbn = arr_isbn[1];
                                        }else{
                                            isbn = arr_isbn[0];
                                        }

                                        var ititle  =  "\""+this.title+"\"";
                                        var iauthor  =  "\""+authors+"\"";
                                        var ipublisher  =  "\""+this.publisher+"\"";
                                        var ithumbnail =  "\""+this.thumbnail+"\"";



                                        html += "<li class='list-group-item'>";
                                        html += "<div class='row'>";
                                        html += "<div class='col' >"
                                            + thumbnail
                                        html += "<div class='col' >"
                                            + "저자: "
                                            + authors
                                            + "</div></div>"
                                        html += "<div class='col' style ='padding-top: 5%; width: ' >"
                                        html += "<a href='javascript:inputBook("+ititle+","+iauthor+","+ipublisher+","+ithumbnail+");'>"
                                            + this.title
                                            + "</a>"
                                            + "  /  "
                                            + this.publisher
                                                +"</div>"
                                                + "<div class = col style = 'left : 12%;'>"
                                            +" <button type='button' class='btn btn-dark btn-sm' data-isbn='"+isbn+"'>북마크</button>"
                                                + "</div>"
                                            + "</div></li>";
                                    });

                            if (!res.meta.is_end) {
                                html += "<li style = 'list-style: none'><button class='btn btn-dark btn-lg btn-block' onclick='bookSearch("
                                    + (pg + 1)
                                    + "); $(this).parent().remove();'>더보기 </button></li>";
                            }
                            if (pg > 1) {
                                $("#books > ul").append(html);
                            } else {
                                $("#books > ul").html(html);
                            }
                        }


                    },
                    complete : function() {
                        $(form).find("button[type=button]").text("검색");
                    }
                })

            }
        }

        function inputBook(ititle, iauthor, ipublisher, ithumbnail){
            var booktitle = ititle;
            var bookauthor = iauthor;
            var bookpub = ipublisher;
            var bookthumb = ithumbnail;
            console.log(bookthumb);
            $('#myModal').modal('hide');
            $('#bookinfos').removeClass('d-none');
            $('#booktitle').text(booktitle);
            $('#authors').text(bookauthor);
            $('#publisher').text(bookpub);
            $('#ithumbnail').attr('src', bookthumb);



        }
    </script>
</div>
</html>