<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div class="container text-left" style="width: 75%; margin-bottom:5%;">
        <div class="text">
            <img th:src="@{/images/userprofile/profile-default.png}" height="200" width="200"/>
        </div>
        <div class="text-center" style="padding-right: 50%;"><span style="color: black; size: 35px;" th:text="${user.name}"></span></div>
        <div class="text-center"style="padding-right: 50%;"><span style="color: black; size: 35px;" th:text="${user.comment}"></span></div>

        <div class="text">
            <button id="reading" class="btn btn-dark" onclick="reading();">읽고 있는 책들</button>
            <button id="doneread" class="btn btn-dark" onclick="doneread();">읽은 책들</button>
        </div>
        <div class="text" style="margin-top: 50px">
            <table>
                <thead>
                <tr>
                    <th scope="col" style="width: 25%"></th>
                    <th scope="col" style="width: 25%"></th>
                    <th scope="col" style="width: 25%"></th>
                    <th scope="col" style="width: 25%"></th>
                </tr>
                </thead>
                <tbody id="challenge">

                </tbody>
            </table>

        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userId =/*[[${user.id}]]*/ 'default';
        var chaldata;

        $(document).ready(function() {

            $.ajax({
                type: 'get',
                url: '/api/challenge?userId=' + userId,
                async: false,
                contentType: "application/json",
                error: function () {
                    alert('와!에러!와!일해라!');
                },
                success: function (data) {
                    $('#challenge').html("");
                    chaldata = data;
                    for (var i = 0; i < data.length; i++) {
                        if (data[i].bookStatus == '읽는중') {

                            var dateString2 = moment(data[i].startDate).format('YYYY-MM-DD');
                            var now2 = moment(new Date()); //todays date
                            var duration = moment.duration(now2.diff(dateString2));
                            var days = duration.asDays()+1;
                            var string = days.toString().substring(0,days.toString().indexOf('.'));

                            var challengeDiv = $(' <tr data-toggle="collapse" data-target="#book' + data[i].id +'" class="clickable" border-bottom: 1px solid black;"><td><span style="padding-right: 150px;"><img style="margin-top: 50px; margin-bottom: 10px; width: 100px;" src="' + data[i].thumbnailImage + '" /></span></td>\n' +
                                '                    <td><span style="padding-right: 150px;">'  + data[i].booksTitle + '</span></td>\n' +
                                '                    <td><span style="padding-right: 150px;">' + data[i].startDate + '</span></td>\n' +
                                '                    <td><span style="padding-right: 150px;">' + data[i].endDate + '</span></td></tr>' +
                                '                    <tr><td colspan="3"><div id="book'+data[i].id+'" class="collapse"><h3>' + string + ' 일차</h3> <textarea type="text" class="form-control" rows="5" name="review" id="review" placeholder="30자 이상을 남겨주세요"\n' +
                                '                                   title="review"></textarea><button type="submit" style="margin-top: 15px" class="btn btn-dark topBtn"> 작성</button></div></td></tr>');
                            challengeDiv.appendTo($('#challenge'));
                        }
                    }
                }
            });
            $("#demo").on("hide.bs.collapse", function(){
                $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
            });
            $("#demo").on("show.bs.collapse", function(){
                $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
            });
        });
        function doneread() {
            $('#challenge').html("");
            document.getElementById("doneread").style.backgroundColor = "cornflowerblue";
            document.getElementById("reading").style.backgroundColor = "";
            var comp = '완료';
            console.log(chaldata);
            for (var i = 0; i < chaldata.length; i++) {
                if (chaldata[i].bookStatus == '완료') {
                    var dateString2 = moment(chaldata[i].startDate).format('YYYY-MM-DD');
                    var now2 = moment(new Date()); //todays date
                    var duration = moment.duration(now2.diff(dateString2));
                    var days = duration.asDays()+1;
                    var string = days.toString().substring(0,days.toString().indexOf('.'));

                    var challengeDiv = $(' <tr><td><span style="padding-right: 150px;"><img style="margin-top: 50px; margin-bottom: 10px; width: 100px;" src="' + chaldata[i].thumbnailImage + '" /></span></td>\n' +
                        '                    <td><span style="padding-right: 150px;">'  + chaldata[i].booksTitle + '</span></td>\n' +
                        '                    <td><span style="padding-right: 150px;">' + chaldata[i].startDate + '</span></td>\n' +
                        '                    <td><span style="padding-right: 150px;">' + chaldata[i].endDate + '</span></td></tr>');
                    challengeDiv.appendTo($('#challenge'));
                }

            }
        }

        function reading() {
            $('#challenge').html("");
            document.getElementById("doneread").style.backgroundColor = "";
            document.getElementById("reading").style.backgroundColor = "cornflowerblue";
            var comp = '완료';
            console.log(chaldata);
            for (var i = 0; i < chaldata.length; i++) {
                if (chaldata[i].bookStatus == '읽는중') {
                    var dateString2 = moment(chaldata[i].startDate).format('YYYY-MM-DD');
                    var now2 = moment(new Date()); //todays date
                    var duration = moment.duration(now2.diff(dateString2));
                    var day = duration.asDays()+1;
                    var days = day.toString().substring(0,day.toString().indexOf('.'));
                    var idtest = ("book"+chaldata[i].id + 'a').toString();
                    var chalid = chaldata[i].id;
                    


                    var challengeDiv = $(' <tr data-toggle="collapse" data-target="#book' + chaldata[i].id +'" class="clickable" border-bottom: 1px solid black;"><td><span style="padding-right: 150px;"><img style="margin-top: 50px; margin-bottom: 10px; width: 100px;" src="' + chaldata[i].thumbnailImage + '" /></span></td>\n' +
                        '                    <td><span style="padding-right: 150px;">'  + chaldata[i].booksTitle + '</span></td>\n' +
                        '                    <td><span style="padding-right: 150px;">' + chaldata[i].startDate + '</span></td>\n' +
                        '                    <td><span style="padding-right: 150px;">' + chaldata[i].endDate + '</span></td></tr>' +
                        '                    <tr><td colspan="3"><div id="book'+chaldata[i].id+'" class="collapse"><h3>' + days + ' 일차</h3> <textarea id="' + idtest + '" type="text" class="form-control" rows="5" name="review" id="review" placeholder="30자 이상을 남겨주세요"\n' +
                        '                                   title="review"></textarea><button type="submit" style="margin-top: 15px" class="btn btn-dark topBtn" onclick="postreview(\'' + idtest +'\',\'' + chalid +'\',\'' + days +'\')"> 작성</button></div></td></tr>');
                    challengeDiv.appendTo($('#challenge'));

                }
            }

        }

        function postreview(idtest, chalid, days) {
            var content = document.getElementById(idtest).value;
            var chalid = chalid;
            var days = days;
            alert(days);
            var data = {
                content       : content,
                chalid      : chalid,
                days      : days,
            };
            var jsonData = JSON.stringify(data);
            console.log(jsonData);
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                type: 'post',
                url: '/api/diaries',
                data: jsonData,
                async: false,
                contentType: "application/json",
                error: function (err) {
                    console.log(err.toString());
                    alert("서버가 응답하지 않습니다.");
                    return false;
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    console.log(data);

                }
            })

        }

        /*]]>*/
    </script>
</div>
</html>