<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<th:block layout:fragment="css">
</th:block>
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
    <div class="container text-left" style="width: 75%; margin-bottom:5%;">
        <div class="text">

            <div><img th:src="@{/images/userprofile/profile-default.png}" height="200" width="200"/>
                <b><span style="color: black; font-size: 35px; padding-left: 25px" th:text="${user.name}"></span></b>
                <span style="color: black; font-size: 25px; padding-left: 20px" th:text="${user.comment}"></span>
            </div>
        </div>

        <div class="text" style="padding-top: 25px;">
            <button id="reading" class="btn btn-dark" onclick="reading();">읽고 있는 책들</button>
            <button id="doneread" class="btn btn-dark" onclick="doneread();">읽은 책들</button>
        </div>
        <div class="text" style="margin-top: 50px">
            <table>
                <thead>
                <tr>
                    <th scope="col" style="width: 25%"></th>
                    <th scope="col" style="width: 25%"></th>
                    <th scope="col" style="width: 25%"></th>
                    <th scope="col" style="width: 25%"></th>
                </tr>
                </thead>
                <tbody id="challenge">
                <tr th:if="${challengeList.empty}">
                    <td colspan="2"> No Challenges Available</td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userId =/*[[${user.id}]]*/ 'default';
        var chaldata;

        $(document).ready(function() {
            $('#challenge').html("");
            document.getElementById("doneread").style.backgroundColor = "";
            document.getElementById("reading").style.backgroundColor = "cornflowerblue";
            var val =/*[[${onGoingChal}]]*/ [];
            console.log(val);
            for (var i = 0; i < val.length; i++) {
                console.log(val[i].id);
                var idtest = ("book" + val[i].id + 'a').toString();
                var chalid = val[i].id;
                var days = val[i].days;
                var challengeDiv = $(' <tr data-toggle="collapse" data-target="#book' + val[i].id + '" class="clickable" border-bottom: 1px solid black;"><td><span style="padding-right: 150px;"><img style="margin-top: 50px; margin-bottom: 10px; width: 100px;" src="' + val[i].thumbnailImage + '" /></span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].booksTitle + '</span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].startDate + '</span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].endDate + '</span></td></tr>' +
                    '                    <tr><td colspan="3"><div id="book' + val[i].id + '" class="collapse"><h3>' + days + ' 일차</h3> <textarea id="' + idtest + '" type="text" class="form-control" rows="5" name="review" id="review" placeholder="30자 이상을 남겨주세요"\n' +
                    '                                   title="review"></textarea><button type="submit" style="margin-top: 15px" class="btn btn-dark topBtn" onclick="postreview(\'' + idtest + '\',\'' + chalid + '\',\'' + days + '\')"> 작성</button></div></td></tr>');
                challengeDiv.appendTo($('#challenge'));
            }
        });

        function reading() {
            $('#challenge').html("");
            document.getElementById("doneread").style.backgroundColor = "";
            document.getElementById("reading").style.backgroundColor = "cornflowerblue";
            var val =/*[[${onGoingChal}]]*/ [];
            console.log(val);
            for (var i = 0; i < val.length; i++) {
                var idtest = ("book" + val[i].id + 'a').toString();
                var chalid = val[i].id;
                var days = val[i].days;
                var challengeDiv = $(' <tr data-toggle="collapse" data-target="#book' + val[i].id + '" class="clickable" border-bottom: 1px solid black;"><td><span style="padding-right: 150px;"><img style="margin-top: 50px; margin-bottom: 10px; width: 100px;" src="' + val[i].thumbnailImage + '" /></span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].booksTitle + '</span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].startDate + '</span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].endDate + '</span></td></tr>' +
                    '                    <tr><td colspan="3"><div id="book' + val[i].id + '" class="collapse"><h3>' + days + ' 일차</h3> <textarea id="' + idtest + '" type="text" class="form-control" rows="5" name="review" id="review" placeholder="30자 이상을 남겨주세요"\n' +
                    '                                   title="review"></textarea><button type="submit" style="margin-top: 15px" class="btn btn-dark topBtn" onclick="postreview(\'' + idtest + '\',\'' + chalid + '\',\'' + days + '\')"> 작성</button></div></td></tr>');
                challengeDiv.appendTo($('#challenge'));
            }
        }

        function doneread() {
            $('#challenge').html("");
            document.getElementById("doneread").style.backgroundColor = "cornflowerblue";
            document.getElementById("reading").style.backgroundColor = "";
            var val =/*[[${completedChal}]]*/ [];
            console.log(val);
            for (var i = 0; i < val.length; i++) {
                console.log(val[i].id);
                var challengeDiv = $(' <tr data-toggle="collapse" data-target="#book' + val[i].id + '" class="clickable" border-bottom: 1px solid black;"><td><span style="padding-right: 150px;"><img style="margin-top: 50px; margin-bottom: 10px; width: 100px;" src="' + val[i].thumbnailImage + '" /></span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].booksTitle + '</span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].startDate + '</span></td>\n' +
                    '                    <td><span style="padding-right: 150px;">' + val[i].endDate + '</span></td></tr>');
                challengeDiv.appendTo($('#challenge'));
            }
        }


        $("#demo").on("hide.bs.collapse", function () {
            $(".btn").html('<span class="glyphicon glyphicon-collapse-down"></span> Open');
        });
        $("#demo").on("show.bs.collapse", function () {
            $(".btn").html('<span class="glyphicon glyphicon-collapse-up"></span> Close');
        });


        function postreview(idtest, chalid, days) {

            var content = document.getElementById(idtest).value;
            var chalid = chalid;
            var days = days;
            console.log(content);
            console.log(chalid);
            console.log(days);
            var data = {
                content       : content,
                chalid      : chalid,
                days      : days,
            };

            var jsonData = JSON.stringify(data);
            console.log(jsonData);
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                type: 'post',
                url: '/api/diaries',
                data: jsonData,
                async: true,
                contentType: "application/json",
                error: function (err) {
                    console.log(err.toString());
                    alert("서버가 응답하지 않습니다.");
                    return false;
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (data) {
                    console.log(data);
                    if (data != 0) {
                        document.getElementById(idtest).value = "";
                        alert('오늘은 이미 일지를 작성하셨습니다,');
                    } else if (data == 0) {
                        document.getElementById(idtest).value = "";
                        alert('일지를 저장했습니다.')
                    }
                }
            })
        }

        /*]]>*/
    </script>
</div>
</html>